.cBtnContainer {
    display:inline;
    margin: 0 5px 0 0;
}

#inputZip{
    width: 100px;
}

.stock-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

.editUpdate {
    text-align: center;
    background-color: #444444;
    color: #eeeeee;
    border-radius: 5px !important;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
}

.editUpdate:hover {
    background-color: #2d2d2d;
    color: white;
    border: none;
}
